*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}


#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
}

#box{
    /* height: 30vh;
    width: 30vw; */
     height: 300px;
    width: 300px;
    background-color: crimson;
}